.home-container {
    position: absolute;
    width: 900px;
    height: 720px;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -300px;
    border: 1px solid #000000;
}
.example-form {
    min-width: 150px;
    max-width: 800px;
    margin-left: 50px;
}
  
.example-full-width {
    width: 400px;
}

.example-ripple-container {
    margin: 0 auto;
    width: 800px;
    height: 520px;
}
.home-button {
    margin-left: 6px;
    width: 77px;
}
.example-card {
  max-width: 260px;
  margin: 0 auto;
}

.example-header-image {
  background-image: url('https://mmbiz.qpic.cn/mmbiz_png/mEUmd7rdpBcvjPqxNou11IgdHspnxD5mFHDhia2MGUmasE1zcBoKuWcEMKicjQYMLK3K4yQT7JvE54Qm6fv0BPAg/0?wx_fmt=png');
  background-size: cover;
}
